.enqueue_table {
    width: 100%;
    justify-content: space-evenly;
    border: #0000 1px solid;
    background-color: transparent;
}

/* th {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
  } */
table, tbody, tr, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    border-collapse: collapse;
}
