*   {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
}

/* * * * tab swiching Part * * * */
.container {
    width: 100%;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-wrap: wrap;
}
.container body{
    background-color: #deeeff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tab_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(299,299,299);
    position: relative;
}
.tab_box .tab_button{
    font-size: 18px;
    font-weight: 600;
    color: black;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.tab_box .tab_button.active{
    color: #7360ff;
}
.content_box{
    padding: 20px;
}
.content_box .tab_content{
    display: none;
}
.content_box .tab_content.active{
    display: block;
}
.content_box .content h2{
    margin-bottom: 10px;
}

.active_line{
    position: absolute;
    top: 40px;
    left: 35px;
    width: 120px;
    height: 5px;
    background-color: #7360ff;
    transition: all .3s ease-in-out;
}

/* * * * Sidebar Part * * * */
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 105px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(75, 140, 255, 255);
}
.sidebar:hover {
    width: 250px;
    transition: 0.25s;
}
.logo {
    height: 80px;
    padding: 16px;
}
.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
    background: gray;
}
.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span {
    overflow: hidden;
}
.menu a i {
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
/* * * * main body * * * */
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin: 1rem;
}
.header--title{
    color: rgba(113, 99, 186, 255);
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search--box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.search--box input{
    background: transparent;
    padding: 10px;
}
.search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--box i:hover{
    transform: scale(1.2);
}
/* * Mid--content * * */
.mid--contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
}
  
.located {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.located h4 {
    margin: 0 3px; /* Adjust the margin as needed */
  }

/* * * * Button Part * * * */
.button-group{
    display: flex;
    text-align: right;
}
.button-group button{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    transition: all 0.2s ease;
    margin-left: 5px;
}
.button-add{
    background: green;
}
.button-del{
    background: red;
}
.button-config{
    background: rgb(67, 194, 236);
}
button:active {
    transform: scale(0.96);
}
/* * * * Table for Application * * * */
.app-name{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.app-table{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background: #fff;
}

th {
    padding: 15px;
    text-align: left;
}
tbody{
    background: #fff;
}
td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even) {
    background: #fff;
}
tfoot{
    background: rgb(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td {
    padding: 15px;
}

/* * * * Modal Part * * * */
.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.close {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 0;
    color: tomato;
    font-size: 25px;
}
.form_headder{
    position: absolute;
    text-align: left;
    width: 300px;
    height: 40px;
    top: 15px;
    left: 10px;
    font-size: 13px;
    border-bottom: 1rem;
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: whitesmoke;
    display: none;
}
.modal_button {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.2s ease;
    background: rgb(67, 194, 236);
    margin-top: 10px; /* Adjust the margin-top as needed */
}
/* * * FAQs Part * * */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

.faq {
    max-width: 98%;
    margin-top: 1rem;
    padding-bottom: 2px solid #fff;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    background: whitesmoke;
    color: black;
    border-radius: 10px;
}
.faq .title {
    font-size: 3rem;
    margin: 2rem 0rem;
    margin-left: 10px;
    margin-top: 10px;
}
.faq hr {
    height:5px;
    border-width:0;
    background-color:#00A4BD;
  }
.faq .question svg {
    margin-right: 10px;
}
.faq .question.active svg {
    transform: rotate(180deg);
}
.faq .question {
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq .question h3{
    font-size: 1.8rem;
}
.faq .answer {
    margin-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    background-color: whitesmoke;
}
.faq .answer.active {
    max-height: 300px;
}
.faq .answer p {
    padding-top: 0;
    line-height: 1.3;
    font-size: 1rem;
}